body {
    background-color: red;

}

header, main, footer {
    width: 900px;
    background-color: white;
    margin: 0 auto;
    padding: 50px;
    font-size: 36px;
}

header {
    padding-right: 0;
    width: 950px;
}
header, main {
    border-bottom: solid red 5px;
}

header h1 {
    font-family: "Zapfino";
    font-size: 48px;
    text-align: center;
    color: red;
    line-height: 84px;
    
}


#custom-height {
    line-height: 72px;
}

#logo {
    float: left;
}

#title-container {
    margin-left: 200px;
}

/* HEADER STYLES START */

nav ul li {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 12px;
    margin-top: 25px;
    text-transform: uppercase;
    font-family: "Arial";
    
    
}

nav ul li a {
    text-decoration: none;
}
nav ul {
    text-align: right;
}

nav ul li a:link {
    color: white;
}

nav ul li a:visited {
    color: white;
}

nav ul li a:hover {
   text-decoration: none;
}

nav ul li a:active {
    color: lightpink;
}

/* HEADER STYLES END */

/* FOOTER STYLES START */

footer {
    color: red;
    font-family: "Arial";
    line-height: 48px;
}

#copyright {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}

footer #social-links ul {
    text-align: center;
    margin-bottom: 20px;
}
footer #social-links ul li {
    display: inline-block;
    border: solid red 1px;
    border-radius: 5px;
    padding: 0px;
    line-height: 100%;
    box-sizing: border-box;
}

#social-links ul li a {
    padding: 8px;
}
#social-links ul li a {
    height: 50px;
}

/* footer #social-links ul li:hover {
    background-color: red;
    color: white;
} */

#social-links ul li a:link {
    text-decoration: none;
    color: red;
    line-height: 50px;
}

#social-links ul li a:visited {
    color: red;
}


#social-links ul li a:hover {
    color: white;
    background-color: red;
}

/* FOOTER STYLES END */

/* MAIN DEFAULT STYLES START */

main {
    font-family: "Arial";
    color: red;
}

main h1 {
    font-family: "Zapfino";
    font-size: 36px;
    text-align: center;
    margin-top: 30px;
    /* text-transform: uppercase; */
}

main p {
    font-size: 24px;
}
/* MAIN DEFAULT STYLES END */

/* HOME PAGE STYLE START */

main#homepage p {
    margin: 20px;
    line-height: 30px;
    text-align: justify;
}
/* HOME PAGE STYLE END */

/* GALLERY STYLE START */

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 35px;
}

#gallery div {
    width: 200px;
}

#gallery div img {
    width: 200px;
    margin-bottom: 20px;
}


/* GALLERY STYLE END */

/* CONTACT STYLE START */

#contact-flexbox {
    display: flex;
    height: 300px;
}

#contact-flexbox div:first-child {
    flex-grow: 3;
    background-color: grey;
   
}

#contact-flexbox div:last-child {
    flex-grow: 1;
    background-color: silver;
}
/* CONTACT STYLE END */