body {
    background-color: red;

}

header, main, footer {
    width: 900px;
    background-color: white;
    margin: 0 auto;
    padding: 50px;
    font-size: 36px;
}

header {
    padding-right: 0;
    width: 950px;
}
header, main {
    border-bottom: solid black 5px;
}

header h1 {
    font-family: "Zapfino";
    font-size: 48px;
    text-align: center;
    color: red;
    line-height: 84px;
    
}

#custom-height {
    line-height: 72px;
}

#logo {
    float: left;
}

#title-container {
    margin-left: 200px;
}

nav ul li {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 12px;
    margin-top: 25px;
    text-transform: uppercase;
    font-family: "Arial";
    
    
}
nav ul li:hover {
    background-color: yellow;
}
nav ul li a {
    text-decoration: none;
}
nav ul {
    text-align: right;
}

nav ul li a:link {

}

nav ul li a:active {

}
nav ul li a:visited {

}

nav ul li a:hover {
    color: green;
    background-color: yellow;
}
